
h1{
  font-family: 'Balsamiq Sans', cursive;
  color: #52616b;
  padding-bottom: 8%
}

#title{
  background-color: #f0f5f9;
  padding-left: 15%;
  padding-right: 15%;
}

.tp{
  font-family: 'Gruppo', cursive;
}
.paddfornav{
padding-top: 3%;
padding-bottom: 30%;
}
.nav-link{
font-size: 2.5rem;
}
h2{
  font-family: 'Ubuntu', sans-serif;
}
.wimg{
  padding-top: 40%;
  width: 35%;
  height: auto;
}
h3{
  font-family: 'Ubuntu', sans-serif;
  
}
.whathead{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  padding-top: 10%;
}
p{
  font-family: 'Quicksand', sans-serif;
}
.whattext{
  padding-left: 3%;
  padding-right: 3%;
}
.batpara{
  text-align: center;
}
.skillimages{
  height:45%;
  width: auto;
}
h4{
  font-family: 'Nunito', sans-serif;
}
